.Other {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-auto-rows: max-content;
  grid-column-gap: 8px;
}

.Other h2 {
  grid-column: span 3;
  grid-row: span 3;
}

.Other label {
  font-size: 0.8em;
  justify-self: right;
}

.Other input,
.Other select {
  justify-self: left;
}

.Other > * {
  align-self: center;
}
